html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.3em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html input,
html button,
html textarea {
  font-size: 1em;
}

html,
body {
  background-color: #e5efff;
}

header {
  position: relative;
  max-width: 800px;
  margin: 0px auto;
  color: #222;
}

nav {
  background-color: #5078ba;
  color: #fff;
}

nav ul {
  padding: 0px;
  padding-left: 20px;
  margin: 0px;
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  margin: 0px auto;
  max-width: 800px;
  background-color: #fff;
  color: #000;
  padding: 30px;
}
